---
layout: page
title: Projects
class: projects
category: 'projects'
section: projects
---
<p>Here are a few projects and experiments I'm currently involved with:</p>
<section class="posts posts--blog">
        {% for post in site.categories.projects %}
          <article class="post">
        <div class="post__container">
          
            <a class="post__title--link" href="{{ post.link }}">
              <h2>{{ post.title}}</h2></a>
            <div class="columns">
            {{ post.content | split: "<!-- more -->" | first }}

            <a class="button button--hollow" href="{{ post.link }}">See the Project <span
                class="visuallyHidden">{{ post.title }}</span> 
              {% icon fa-chevron-right %}</a>
            </div>
        </div>          </article>
        {% endfor %}
</section>
<section>
  <div class="post__header__container">
    <h1 class="post__title">Experiments</h1>
            
          </div>
<div class="posts posts--blog">
<p>Prototypes for a other projects I've done or things I'm working on.</p>
          <article class="post">
        <div class="post__container">
          <div class="post__title--link">
            <h2>Animation Off Switch</h>
          </div>
<div class="columns"
<p data-height="363" data-theme-id="0" data-slug-hash="JoMxpK" data-default-tab="result" data-user="gregtarnoff" class='codepen'>See the Pen <a href='http://codepen.io/gregtarnoff/pen/JoMxpK/'>Animation switch</a> by Greg Tarnoff (<a href='http://codepen.io/gregtarnoff'>@gregtarnoff</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
</div>
        </div></article>

          <article class="post">
        <div class="post__container">
<div class="post__title--link">
            <h2>CSS only background image blur</h2>
</div>
<div class="columns">
<p data-height="461" data-theme-id="0" data-slug-hash="myXJvX" data-default-tab="result" data-user="gregtarnoff" class='codepen'>See the Pen <a href='http://codepen.io/gregtarnoff/pen/myXJvX/'>How to background blurring with one image</a> by Greg Tarnoff (<a href='http://codepen.io/gregtarnoff'>@gregtarnoff</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
</div>
        </div></article>
          <article class="post">
        <div class="post__container">
<div class="post__title--link">
            <h2>SVG hover effects</h2>
</div>
<div class="columns">
<p data-height="392" data-theme-id="0" data-slug-hash="ZYLyeY" data-default-tab="result" data-user="gregtarnoff" class='codepen'>See the Pen <a href='http://codepen.io/gregtarnoff/pen/ZYLyeY/'>ZYLyeY</a> by Greg Tarnoff (<a href='http://codepen.io/gregtarnoff'>@gregtarnoff</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script></div>
        </div></article>

          <article class="post">
        <div class="post__container">
<div class="post__title--link">
            <h2>CSS only button popovers</h2>
</div>
<div class="columns">
<p data-height="343" data-theme-id="0" data-slug-hash="bGhln" data-default-tab="result" data-user="gregtarnoff" class='codepen'>See the Pen <a href='http://codepen.io/gregtarnoff/pen/bGhln/'>bGhln</a> by Greg Tarnoff (<a href='http://codepen.io/gregtarnoff'>@gregtarnoff</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
</div>
        </div></article>

          <article class="post">
        <div class="post__container">
<div class="post__title--link">
            <h2>Accessible CSS only skewed navigation</h2>
</div>
<div class="columns">
<p data-height="350" data-theme-id="0" data-slug-hash="MYvpVg" data-default-tab="result" data-user="gregtarnoff" class='codepen'>See the Pen <a href='http://codepen.io/gregtarnoff/pen/MYvpVg/'>Skewed navigation</a> by Greg Tarnoff (<a href='http://codepen.io/gregtarnoff'>@gregtarnoff</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
</div>
        </div></article>
</div>
</section>
