---
layout: default
---
<style>
.colorBlock {width: 250px; height: 220px; padding: 10px; border: 1px solid
  #333;margin: 10px; text-align: center; float: left;}
.color{ height: 80%; width: 80%; margin: 0 auto;}
.row {display: block; overflow: hidden; cleaR: both;}
</style>
<h1>H1 Headline</h1>
<h2>H2 sub head</h2>
<h3>H3 tertiary</h3>
<h4>H4 quadrary</h4>
<h5>H5 heading</h5>
<h6>H6 Heading</h6>

<hr>

<p>Paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, ut. Possimus totam quasi ea natus esse nam corrupti, aliquid alias maxime illo nihil. Hic ipsa nam accusamus, non vero, tempore.</p>
<p>Paragraph <strong>Strong Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. <em>EM Eum, ut.</em> Possimus totam quasi ea natus esse nam corrupti, <i>I aliquid alias maxime illo nihil</i>. Hic ipsa nam accusamus, non vero, tempore.</p>
<blockquote>
<p><q>Paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum,
  ut. Possimus totam quasi ea natus esse nam corrupti, aliquid alias maxime illo
  nihil. Hic ipsa nam accusamus, non vero, tempore.</q></p>
  <cite>Dr. Suess</cite>
</blockquote>

<blockquote class="pullquote">
  <p>Paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, ut. </p>
</blockquote>

<div class="row">
  <div class="colorBlock">
    <div class="color ultraLightPrimary"></div>
    <p>ultraLightPrimary</p>
  </div>
  <div class="colorBlock">
    <div class="color lightPrimary"></div>
    <p>lightPrimary</p>
  </div>
  <div class="colorBlock">
    <div class="color primary"></div>
    <p>Primary</p>
  </div>
  <div class="colorBlock">
    <div class="color darkPrimary"></div>
    <p>darkPrimary</p>
  </div>
  <div class="colorBlock">
    <div class="color ultraDarkPrimary"></div>
    <p>ultraDarkPrimary</p>
  </div>
</div>
<div class="row">
  <div class="colorBlock">
    <div class="color ultraLightSecondary"></div>
    <p>ultraLightSecondary</p>
  </div>
  <div class="colorBlock">
    <div class="color lightSecondary"></div>
    <p>lightSecondary</p>
  </div>
  <div class="colorBlock">
    <div class="color secondary"></div>
    <p>Secondary</p>
  </div>
  <div class="colorBlock">
    <div class="color darkSecondary"></div>
    <p>darkSecondary</p>
  </div>
  <div class="colorBlock">
    <div class="color ultraDarkSecondary"></div>
    <p>ultraDarkSecondary</p>
  </div>
</div>
<div class="row">
  <div class="colorBlock">
    <div class="color ultraLightTertiary"></div>
    <p>ultraLightTertiary</p>
  </div>
  <div class="colorBlock">
    <div class="color lightTertiary"></div>
    <p>lightTertiary</p>
  </div>
  <div class="colorBlock">
    <div class="color tertiary"></div>
    <p>Tertiary</p>
  </div>
  <div class="colorBlock">
    <div class="color darkTertiary"></div>
    <p>darkTertiary</p>
  </div>
  <div class="colorBlock">
    <div class="color ultraDarkTertiary"></div>
    <p>ultraDarkTertiary</p>
  </div>
</div>
<div class="row">
  <div class="colorBlock">
    <div class="color ultraLightWhite"></div>
    <p>ultraLightWhite</p>
  </div>
  <div class="colorBlock">
    <div class="color lightWhite"></div>
    <p>lightWhite</p>
  </div>
  <div class="colorBlock">
    <div class="color white"></div>
    <p>White</p>
  </div>
  <div class="colorBlock">
    <div class="color darkWhite"></div>
    <p>darkWhite</p>
  </div>
  <div class="colorBlock">
    <div class="color ultraDarkWhite"></div>
    <p>ultraDarkWhite</p>
  </div>
</div>
<div class="row">
  <div class="colorBlock">
    <div class="color ultraLightBlack"></div>
    <p>ultraLightBlack</p>
  </div>
  <div class="colorBlock">
    <div class="color lightBlack"></div>
    <p>lightBlack</p>
  </div>
  <div class="colorBlock">
    <div class="color black"></div>
    <p>Black</p>
  </div>
  <div class="colorBlock">
    <div class="color darkBlack"></div>
    <p>darkBlack</p>
  </div>
  <div class="colorBlock">
    <div class="color ultraDarkBlack"></div>
    <p>ultraDarkBlack</p>
  </div>
</div>
