<header class="header">
  <div class="header__logo__wrapper">
    <a href="/" class="header__logo">
      <img src="/img/logo.svg" alt="" />
      <span class="visuallyHidden">Greg
        Tarnoff</span></a>
  </div>
  {% include _menu.html %}
</header>
