<div class="hero">
  <div class="hero__content">
        <div class="hero__text">
        <h1 class="hero__title">Nat<a
            href="/blog/gender/naming-things-is-hard/">*</a> Tarnoff</h2>
        <p class="hero__subTitle">Accessibility & <abbr title="User
        Experience">UX</abbr> Consultant.
          Developer, Artist, Photographer.</p>
        </div>
        <img src="/img/IMG_1102.jpg" alt="" />
    </div>
        <div class="latestPosts">
        {% for post in site.posts limit:5 %}
          <article class="post">
            <div class="post__container">
            <a class="post__title--link" href="{{ post.url }}">
              <h2>{{ post.title}}</h2></a>
            <div class="columns">
            {{ post.content | split: "<!-- more -->" | first }}
            <a class="button" href="{{ post.url }}">Read More <span
                class="visuallyHidden">of {{ post.title }}</span>&hellip;</a>

            </div>
            </div>
          </article>
        {% endfor %}

      </div>

</div>
