<nav class="mainMenu">
  <ul class="mainMenu__container">
    <li class="mainMenu__item">
    <a href="/blog" class="mainMenu__link{% if page.class == 'blog' %} active {% endif %}"><span>Blog</span></a></li>
    <li class="mainMenu__item">
    <a href="/services" class="mainMenu__link{% if page.class == 'services' %}
      active {% endif %}"><span>Services</span></a></li>
    
    <li class="mainMenu__item">
    <a href="/speaking" class="mainMenu__link{% if page.class == 'speaking' %} active {% endif %}"><span>Speaking</span></a></li>
    <li class="mainMenu__item">
    <a href="/resume" class="mainMenu__link{% if page.class == 'resume' %} active {% endif %}"><span>Resume</span></a></li>
  <li class="mainMenu__item">
    <a class="mainMenu__link{% if page.class == 'projects' %} active {% endif %}" href="/projects"><span>Projects</span></a></li>
    <li class="mainMenu__item">
    <a href="/connect" class="mainMenu__link{% if page.class == 'connect' %} active {% endif %}"><span>Connect</span></a></li>
    <li class="mainMenu__item">
    <a href="https://tarnoff.bigcartel.com" class="mainMenu__link{% if page.class == 'store' %} active {% endif %}"><span>Store</span></a></li>
    <li class="mainMenu__item">
    <a href="/atom.xml" class="mainMenu__link{% if page.class == 'rss' %} active {% endif %}"><span>RSS</span></a></li>
  </ul>
</nav>
