<div class="share-page">
    <ul class="social">
      <li class="social__item"><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">{% icon fa-twitter %}<span>Twitter</span></a></li>
      <li class="social__item"><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">{% icon fa-facebook %}<span>Facebook</span></a></li>
      <li class="social__item"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">{% icon fa-google-plus %}<span>Google+</span></a></li>
    </ul>
    <div class="meta">
      {% if page.categories %}
      <span class="categories"> Category: {{ page.categories }}</span>
      {% endif %}
      <span class="date">{{ page.date | date_to_string }}</span>
    </div>
</div>
