<ul class="social">
  <li class="social__item">
    <a href="http://twitter.com/nattarnoff" target="_blank">
      {% icon fa-twitter %}<span>Twitter</span></a></li>
  <li class="social__item">
    <a href="https://github.com/nattarnoff" target="_blank">
      {% icon fa-github %}<span>Github</span></a></li>
  <li class="social__item">
    <a href="https://bitbucket.org/nattarnoff" target="_blank">
      {% icon fa-bitbucket %}<span>BitBucket</span></a></li>
  <li class="social__item">
    <a href="https://www.behance.net/nattarnoff" target="_blank">
      {% icon fa-behance %}<span>BeHance</span></a></li>
  <li class="social__item">
    <a href="http://codepen.io/nattarnoff" target="_blank">
      {% icon fa-codepen %}<span>Codepen</span></a></li>
  <li class="social__item">
    <a href="https://www.flickr.com/photos/urothane/" target="_blank">
      {% icon fa-flickr %}<span>Flickr</span></a></li>
  <li class="social__item">
    <a href="https://www.linkedin.com/in/nattarnoff" target="_blank">
      {% icon fa-linkedin %}<span>LinkedIn</span></a></li>
  <li class="social__item">
    <a href="http://pinterest.com/nattarnoff" target="_blank">
      {% icon fa-pinterest %}<span>Pinterest</span></a></li>
  <li class="social__item">
    <a href="https://instagram.com/inknpierce" target="_blank">
      {% icon fa-instagram %}<span>Instagram</span></a></li>
  <li class="social__item">
    <a href="https://vimeo.com/user13232070" target="_blank">
      {% icon fa-vimeo-square %}<span>Vimeo</span></a></li>
</ul>
