---
layout: page 
title: Blog Archive
class: 'blog'
---

  <section class="posts posts--blog">
    <ul class="archive-list">
    {% for post in site.posts %}
    <li><a class="post__title--link" href="{{ post.url }}"><span class="date">{{ post.date | date_to_string}}</span>  {{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </section>

