---
layout: page 
title: Blog
class: 'blog'
section: blog
---

  <section class="posts posts--blog">
    {% for post in paginator.posts %}
      <article class="post">
        <div class="post__container">
        <a class="post__title--link" href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
        <div class="columns">{{ post.content | split: "<!-- more -->" | first }}</div>
        </div>
      </article>
    {% endfor %}
  </section>
  <div class="pagination">
    {% if paginator.previous_page and paginator.previous_page > 1 %}
    <a href="/blog/page{{ paginator.previous_page }}" class="previous button">Previous</a>
  {% elsif paginator.previous_page == 1 %}
    <a href="/blog" class="previous button">Previous</a>
  {% else %}
    <span class="previous button is-disabled">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/blog/page{{ paginator.next_page }}" class="next button">Next</a>
  {% else %}
    <span class="next button is-disabled">Next</span>
  {% endif %}
  </div>
