.lightWhite 
  background: $lightWhite
.ultraLightWhite
  background: $ultraLightWhite
.darkWhite
  background: $darkWhite
.ultraDarkWhite
  background: $ultraDarkWhite
.lightBlack
  background: $lightBlack
.ultraLightBlack
  background: $ultraLightBlack
.darkBlack
  background: $darkBlack
.ultraDarkBlack
  background: $ultraDarkBlack
.lightPrimary
  background: $lightPrimary
.ultraLightPrimary
  background: $ultraLightPrimary
.darkPrimary
  background: $darkPrimary
.ultraDarkPrimary
  background: $ultraDarkPrimary
.lightSecondary
  background: $lightSecondary
.ultraLightSecondary
  background: $ultraLightSecondary
.darkSecondary
  background: $darkSecondary
.ultraDarkSecondary
  background: $ultraDarkSecondary
.lightTertiary
  background: $lightTertiary
.ultraLightTertiary
  background: $ultraLightTertiary
.darkTertiary
  background: $darkTertiary
.ultraDarkTertiary
  background: $ultraDarkTertiary
.primary
  background: $primary
.secondary
  background: $secondary
.tertiary
  background: $tertiary
.white
  background: $white
.black
  background: $black

body
  font-family: $body-text
  font-size: $base-font-size
  line-height: $base-line-height
h1, h2, h3, h4, cite, em, i
  font-family: $headline-text
cite, em, i
  font-style: italic
h1
  font-size: $h1-font-size
  line-height: $h1-line-height
  margin: $h1-margin-top 0 $h1-margin-bottom 0
h2
  font-size: $h2-font-size
  line-height: $h2-line-height
  margin: $h2-margin-top 0 $h2-margin-bottom 0
h3
  font-size: $h3-font-size
  line-height: $h3-line-height
  margin: $h3-margin-top 0 $h3-margin-bottom 0
h4
  font-size: $h4-font-size
  line-height: $h4-line-height
  margin: $h4-margin-top 0 $h4-margin-bottom 0

