html
  box-sizing: border-box
body
  padding: 0
  margin: 0
*, *:before, *:after
  box-sizing: inherit

.visuallyHidden 
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

