blockquote
  font-size: 1.5em
  color: $darkPrimary
  border-left: 3px solid $darkPrimary
  padding: .5em .5em .5em 10px
  background: $white
  @extend %box-shadow
  line-height: 1.1em
cite
  clear: both
  display: block
  text-align: right
  font-size: .8em
