%button
  border-radius: 4px
  color: currentColor
  border: 1px solid currentColor
  padding: .25em .5em
  margin: .5em 0
  transition: all ease-in-out .5s
  @include focus()
    background-color: $primary 
    color: $lightWhite
    @extend %box-shadow
    text-decoration: underline
.button
  @extend %button
  background: $lightSecondary
  color: $ultraDarkTertiary
  border: 0
  font-weight: 100
  text-decoration: none
.button--hollow
  @extend %button
  color: $primary
  background: $lightWhite
.button--secondary
  @extend %button
  background: $darkBlack
  color: $primary
  border-radius: 0
  text-decoration: none
  +focus()
    background: $secondary
    color: $ultraLightWhite
button
  font-size: 1.2em
.button--loadMore
  font-weight: 200
  width: 100%


