.post
  margin-bottom: 50px
  background: $lightWhite
  @extend %box-shadow
  .columns, .meta
    margin: 20px 10px
    padding:
      bottom: 20px
.date
  float: right
  width: 12%
  border-radius: 20px
  @extend %box-shadow
  background: $darkSecondary
  color: $ultraLightWhite
  text-align: center
  padding: .5em
  font-family: $headline-text
.single__post
  .post
    box-shadow: none
