img 
  max-width: 100%
  @extend %box-shadow
  margin: 50px auto
  display: block
  &.left
    float: left
  &.right
    float: right
  &.left, &.right
    margin: 20px
  &.circle
    max-width: 50%
    border-radius: 50%
  &.small 
    max-width: 30%
    float: left
    margin: 50px 1%
    display: inline-block
    text-align: center
.dark
  background: $black
.talks
  height: calc(100vw * .56)
  margin: 10px auto
  +media(800px)
    height: calc(800px * .56)
