.contact
  width: 100%
  ul
    list-style-type: none
    margin: 0
    padding: 0
  .row
    border: 1px solid $darkSecondary
    padding: .25em .5em
    margin: 3px 0 0 0
    &:last-child
      bordeR: none
    .button
      width: 100%
  label
    font-family: $headline-text
    color: $ultraDarkSecondary
    width: 100%
    clear: both
    display: block
  input, textarea
    width: 100%
    display: block
    padding: .5em
    font-size: 1em
    border: none
