.header__logo
  display: block
  background-size: 100%
  height: 55px
  width: 55px
  border-radius: 50%
  display: block
  margin: 20px auto
  border: 3px solid $primary
  @extend %transition

  +focus()
    background: $secondary
  img
    margin: 0 auto
    box-shadow: none
    margin-top: -6px
    max-width: 95%

