h1, h2, h3
  clear: both
h1 
  font-weight: 100
h2
  font-weight: 200
h3
  font-weight: 200
  color: $ultraDarkSecondary
h2
  line-height: 1em
.post__title--link
  background: $secondary
  text-decoration: none
  color: $ultraLightWhite
  padding: .5em
  display: block
  width: 100%
  @extend %transition
  +focus()
    text-decoration: underline
    color: $ultraDarkSecondary
    background: $ultraLightPrimary
    @extend %box-shadow
  & h2 
    margin: 0
    font-weight: 100
.post__title
  background: $primary
  color: $ultraLightWhite
  line-height: 1em
  padding: .5em
  @extend %box-shadow
.actions-bar
  position: relative
  float: right
  top: -90px
  right: 10px
