.hero__content
  background: $ultraDarkPrimary url('/img/bg-01.jpg') center center no-repeat
    size: cover
  min-height: 400px
  padding: 0 10px
.hero
  min-height: 400px
  img
    max-width: 300px
    width: 50%
    float: right
    border-radius: 50%
  .hero__text
    float: left
    color: $ultraLightWhite
    width: 37%
.latestPosts
  clear: both
.hero__title
  a
    color: $ultraLightWhite
    text-decoration: none
