.archive-list
  list-style-type: none
  padding: 0
  margin: 0
  li
    margin: 5px 0
    .date
      width: auto
      background: transparent
      margin: 0
      box-shadow: none
      padding: 0
      color: inherit
