.mainMenu
  margin-bottom: 20px
.mainMenu__container
  padding: 0
  margin: 0
  list-style-type: none
  text-align: center
  overflow: hidden
  background: $darkSecondary
  width: 100%
  border-radius: 4px
  @extend %box-shadow
.mainMenu__item
  display: inline-block
  margin: 0
  padding: 0
  border: inset 1px solid $darkSecondary
.mainMenu__link
  display: block
  text-decoration: none
  padding: .25em .5em
  background: $darkSecondary
  font-family: $headline-text
  color: $white
  font-size: .8em
  +focus()
    background: $primary
    color: $white
  &.active
    background: $lightWhite
    color: $primary


