.social
  list-style-type: none
  margin: 10px auto
  padding: 0
  display: inline-block
  text-align: center  
  width: 90%

.social__item
  width: 2em 
  height: 2em
  position: relative
  display: inline-block
  overflow: hidden
  a
    display: block
    width: 100%
    height: 100%
    border-radius: 50%
    background: $primary
    color: $black
    border: 3px solid $primary
    text-align: center
    vertical-align: baseline
    +focus()
      box-shadow: none
      border: 3px solid $black
      background: $ultraLightWhite
  .fa
    margin-top: 25%
  span
    position: absolute
    top: -30px
    left: 30px
footer
  .social
    width: 100%
    font-size: 1.5em
