<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Custom CSS -->
       {% if page.custom_css %}{{ page.custom_css | stylesheet }}{% endif %}
       {% if page.custom_js %}{{ page.custom_js | javascript }}{% endif %}   
    </head>
    <body class="container">
      {% include _header.html %}
      {{ content }}
      {% include _footer.html %}
    </body>
</html>

