<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Custom CSS -->
{% stylesheet main.css %}
{% javascript main.js %}
    </head>
    <body class="container home__page">
      <div class="content__wrapper">
      {% include _header.html %}
      <section class="home_content">
        {{ content }}
      </section> 
      {% include _footer.html %}
      </div>
    </body>
</html>

