<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Custom CSS -->
{% stylesheet main.css %}
{% javascript main.js %}
    </head>
    <body class="container">
      <div class="content__wrapper content__wrapper--page">
        {% include _header.html %}

         <div class="post__header">
           <div class="post__header__container">
            <h1 class="post__title">{{ page.title }}</h1>
            {% if page.section == "blog" %}
              <div class="actions-bar"><a class="button--secondary"
    href="/blog/archive/">Archive</a></div>
              {% endif %}
          </div>
         </div>
        {% include _content.html %}
        {% include _footer.html %}
      </div>
    </body>
</html>
