---
class: blog
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Custom CSS -->
{% stylesheet main.css %}
{% javascript main.js %}
    </head>
    <body class="container">
      <div class="content__wrapper">
      {% include _header.html %}
      <div class="single__post">
        <div class="post">
          <div class="post__header">
           <div class="post__header__container">
            <h1 class="post__title">{{ page.title }}</h1>
          </div>
          </div>
          <div class="post__container">
            {% include _share.html %}
          <div class="columns"> 

            {{ content }}
          </div>
          <div class="pagination"> 
            {% if page.previous.url %} 
            <a href="{{page.previous.url}}" title="Previous Post:
              {{page.previous.title}}" class="previous button">&laquo; {{page.previous.title}}</a> 
            {% endif %} 
            {% if page.next.url %} 
            <a href="{{page.next.url}}" title="Next Post: 
              {{page.next.title}}" class="next button">{{page.next.title}} &raquo; </a> 
            {% endif %} 
          </div> 
        </div>
      </div>
      </div>
      {% include _footer.html %}
      </div>
    </body>
</html>
